.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  line-height: 38px;
  color: var(--accent-color);
  transition: transform 250ms linear, color 250ms linear;
  &:focus, &:hover {
    transform: scale(107%);
    color: var(--accent-color-hover);
  }
  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 48px;
  }
  .logo-decor {
    color: var(--text-color-secondary);
  }
}
