.lg-react-element {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 31px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(223px, 1fr));
    grid-template-rows: minmax(148px, auto);
    grid-gap: 18px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1360px) {
    grid-gap: 22px;
    margin-top: 36px;
  }
}